# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Data files (raw and processed)
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Environment variables
.env